.jumbotron {
  text-align: center;
  font-family: Impact;
  background-color: red;
  color: yellow;
}

#form-label {
  text-align: center;
}

#display-result {
  display: none;
  padding-top: 50px;
  margin: 10px;
  text-align: center;
}